
  <div class="contact-region">
    <div class="first_cols col">
      <div class="block block-social">
        <h2 class="block-social__title">Social Connection</h2>

        <div class="block-social__description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          praesentium
        </div>
        <a href="#">
          <img src="/{{ ASSETS }}/img/social/rss-soc.png" alt="rss social" title="rss social"/>
        </a>
        <a href="#">
          <img src="/{{ ASSETS }}/img/social/facebook-social.png" alt="alt facebook" title="alt facebook"/>
        </a>
        <a href="#">
          <img src="/{{ ASSETS }}/img/social/in-social.png" alt="In Social" title="In Social"/>
        </a>
        <a href="#">
          <img src="/{{ ASSETS }}/img/social/youtube-social.png" alt="Youtube Social" title="Youtube Social"/>
        </a>
        <a href="#">
          <img src="/{{ ASSETS }}/img/social/twitter-social.png" alt="Twitter social" title="Twitter social"/>
        </a>
      </div>
      <div class="block newsletter-block">

        <h2 class="newsletter-block__title">Newsletter</h2>
        <span class="newsletter-block__description">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                </span>

        <form id="add-subscriber-form">
          <input type="text" name="subscriber-email" placeholder="Your email address"/>
          <input type="submit" class="bottom-button" value="Subscribe"/>
        </form>
      </div>
    </div>
    <div class="second_cols col">
      <div class="block block-send-me">
        <h2 class="block-send-me__title">Contact</h2>
        <form id="send-me-form">
          <input placeholder="Your Name" id="your-name" type="text"/><br/>
          <input placeholder="Your Email Address" id="your-name" type="text"/><br/>
          <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea><br/>
          <input value="Send It" class="bottom-button" id="your-name" type="submit"/><br/>
        </form>
      </div>
    </div>
    <div class="third_cols col">
      <div class="block block-news">
        <h2 class="block-news__title">News</h2>
        <div >
          <div class="block-news__item">
            <a class="news-image-link" href="#"><img src="/{{ ASSETS }}/img/mozila-news.png" alt="mozilla"
                                                     title="mozilla"></a>
            <span class="news-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore  aliqua.  </span>
          </div>
          <div class="block-news__item">
            <a class="news-image-link" href="#"><img src="/{{ ASSETS }}/img/molecula-news.png"
                                                     alt="Molecular Structure" title="Molecular Structure"></a>
            <span class="news-description">Sed ut perspiciatis unde omnis iste natus error sit accusantium dolor emque laudantium, totam rem aperiam. </span>
          </div>
          <div class="block-news__item">
            <a class="news-image-link" href="#"><img src="/{{ ASSETS }}/img/color-news.png" alt="Mixed Color"
                                                     title="Mixed Color"></a>
            <span class="news-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. </span>
          </div>
        </div>
        <a class="bottom-button" href="#">Visit our Blog</a>
      </div>

    </div>

  </div>

